* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #121212;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

#user-input-field {
  width: 80%;
  /* Set desired width here */
  padding: 8px;
  /* Adding some padding for better appearance */
  box-sizing: border-box;
  /* So the width includes padding */
  margin: 0 auto;
  /* Centering the input box */
  display: block;
  /* To apply margin auto */
}

.peerConnectionState-new {
  color: cornflowerblue;
}

.peerConnectionState-connecting {
  color: orange;
}

.peerConnectionState-connected {
  color: green;
}

.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceConnectionState-new {
  color: cornflowerblue;
}

.iceConnectionState-checking {
  color: orange;
}

.iceConnectionState-connected,
.iceConnectionState-completed {
  color: green;
}

.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceGatheringState-new {
  color: cornflowerblue;
}

.iceGatheringState-gathering {
  color: orange;
}

.iceGatheringState-complete {
  color: black;
}

.signalingState-stable {
  color: green;
}

.signalingState-have-local-offer,
.signalingState-have-remote-offer,
.signalingState-have-local-pranswer,
.signalingState-have-remote-pranswer {
  color: cornflowerblue;
}

.signalingState-closed {
  color: red;
}

.streamingState-streaming {
  color: green;
}

.streamingState-empty {
  color: grey;
}

#buttons {
  clear: both;
  padding: 0 0 0 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  background-color: #7459fe;
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}

button:hover {
  background-color: #9480ff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#status {
  clear: both;
  padding: 20px 0 0 0;
  text-align: left;
  display: inline-block;
  zoom: 1;
  line-height: 140%;
  font-size: 15px;
}

#status div {
  padding-bottom: 10px;
}

#video-wrapper {
  height: 500px;
  background-position: center;
}

#video-wrapper .video-container {
  width: 400px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

video {
  display: block;
  /* border:1px solid; */
  border-radius: 50%;
  background-color: #000;
}

#response-container {
  width: 80%;
  max-height: 200px;
  text-align: center;
  color: #ffffff;
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  font-size: 22px;
  margin: 0 auto;
  /* Adjust font size as needed */
}

#input-container .input-box {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

#status {
  text-align: center;
  width: 100%;
  font-size: 22px;
}

@media screen and (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
  #video-wrapper {
    height: 700px;
    border: 2px solid red;
  }

  #video-wrapper .video-container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0;
  }

  video {
    width: 100%;
    height: 100%;
  }

  .bottom-container {
    /* border: 2px solid black; */
    background: #fff;
    width: 100vw;
  }

  #input-container .input-box {
    width: 80%;
    height: 150px;
    border: 1px solid #2c2c2c;
    padding: 1rem;
    font-size: 2rem;
  }

  #input-container .input-box::placeholder {
    font-size: 2rem;
  }

  #buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #buttons button {
    font-size: 40px;
    width: 300px;
    height: 80px;
  }
  #response-container {
    max-height: 50vh;
  }
}
